body {
  background-color: rgb(32, 32, 32);
  font-family: "Open Sans", "Helvetica Neue", sans-;
  font-size: 20px;
  line-height: 2.5;
  margin: 0;
  color: white;
}

.mainBody {
  margin: 30px;
  margin-left: 250px;
  margin-right: 250px;
  
}

h3 {
  font-size: 32px;
}

#catDiv {
  position: relative;
  left: 25px;
}

ol {
  list-style: decimal;
}

ol li {
  padding-left: 12px;
}

.questionsOnPage {
  color: rgb(102, 102, 102);
  font-style: italic;
}

.questionsOnPageAnswers {
}

.correctAOrNot {
  color: rgb(230, 39, 80);
}

.headerPic {
  padding: 165px;
  text-align: center;
  background-size: auto;
  background-image: url("../img/raphael-lacoste-boat-web.jpg");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-size: cover;
  border-radius: 30px;
  /* margin-right: 250px;
  margin-left: 250px; */
  box-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  line-height: normal;
  user-select: none;
}

.articleH1 {
  padding: 30px 0px 30px 0px;
  font-weight: bold;
  font-size: 60px;
  text-align: right;
}

.introSection span p {
  display: inline-block;
}

#headerTitle {
  opacity: 88%;
  font-weight: bold;
  font-size: 72px;
  color: rgb(255, 255, 255);
}

#headerName {
  opacity: 88%;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 5px;
  color: rgb(255, 255, 255);
}

#guessingGameBlock {
  text-decoration: none;
  /* margin: 30px 0 30px 0; */
  display: block;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.88);
  background-color: #c73a70d3;
  font-weight: bold;
  font-size: large;
  text-align: center;
  transition: 0.3s;
}

#guessingGameBlock:hover {
  background-color: rgba(235, 137, 175, 0.829);
}

.sideMenu {
  position: fixed;
  width: 190px;
  top: 33.3%;
  left: 30px;
  font-size: 16px;
  font-weight: bold;
  line-height: 3;
  text-align: center;
  user-select: none;
}

.currentPage {
  background-color: rgb(56, 56, 56);
  border-radius: 30px;
}
.sideMenu a {
  margin-top: 10px;
  text-decoration: none;
  color: white;

  text-decoration: none;
  /* margin: 30px 0 30px 0; */
  display: block;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.sideMenu a:hover {
  background-color: rgb(56, 56, 56);
}

footer {
  text-align: center;
  background-color: black;
  padding: 50px 0 50px 0;
  margin: 0;
}

/* #greetingSpace{
  margin-top: 50px;
  text-align: center;
  font-size: ;
} */
